<button class="sidebar-toggle-btn" >☰</button>

<aside class="app-sidebar" id="sidebar">
  <h3>Categorías</h3>
  <nav class="main-nav desktop-only">
    <ul>
      <li class="has-dropdown"><a href="#">Motos Nuevas</a></li>
      <li><a href="#">Motos Usadas</a></li>
      <li><a href="#superbike">Deportivas</a></li>
      <li><a href="#naked">Naked</a></li>
      <li><a href="#aventure">Aventura</a></li>
      <li><a href="#off-road">Off Road</a></li>
      <li><a href="#scrambler">Scrambler</a></li>
      <li><a href="#superMotar"></a></li>
    </ul>
  </nav>
</aside>